*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%; 
  height: 100%; 
}

* { border: 1px solid red;}

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

@media (max-width: 650px){
  .header {
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
  }

  .logo {
    order: -1;
    text-align: center;
  }

  .left-links,
  .right-links {
    justify-content: center;
    flex: 1 1 auto;
  }
  
  ul {
    flex-direction: column;
    gap: 15px;
    flex: 1 1 auto;
  }

  li {
    display: flex;
  }

  a {
    flex: 1 1 100%;
    text-align: center;
  }
}