/* Add CSS Styling */
.first,
.second {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.first {
  background-color: #313131;
  color: #FFFFFF;
}

.second {
  background-color: #e9ff24;
}

