*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 7px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 7px;
  padding: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px;
  margin-bottom: 7px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 25px;
  margin: 0px auto;
}